*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: black;
}

.restaurant-list {
  background-color: #eee;
  width: 100%;
  margin: 0 auto;
}

.arrow-left i:hover {
  cursor: pointer;
  color: teal;
}

.location {
  width: 100%;
  border-bottom: .5px #000 solid;
  display:inline-block;
}

.location:hover {
  cursor: pointer;
  background-color: #777;
}

.location:first-child{
  margin-top: 11%;
}

.content {
  display: inline-block;
  float: left;
  margin: 1%;
  padding: 3%;
  width: 85%;
}

.arrow {
  display: inline-block;
  float: right;
  text-align: right;
  padding-right: 5%;
  margin-top: 6%;
  height: auto;
}

.arrow:hover {
  cursor: pointer;
  color: teal;
}

.content, h1 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 5px;
}

.content, h3 {
  font-weight: 400;
}
